<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddww.web.dao.AdminDAO">

	<select id="adminLogin" parameterType="Map" resultType="Map">
	<![CDATA[
	SELECT COUNT(*) as count, m_name, m_grade
	from members
	where m_id = #{id} AND AES_DECRYPT(UNHEX(m_pw),'sik') = #{pw} AND m_grade > 5
	]]>
	</select>
	
	<select id="notice" resultType="Map">
	select *
	FROM notice order by nno desc
	limit 0, 10
	</select>
	
	 <insert id="noticeWrite" parameterType="Map">
       insert into notice (ntitle, ncontent, m_no
          <if test="upfile != null and upFile != ''">, norifile, nrealfile</if>)
       values (#{title}, #{content}, #{mno}
          <if test="upfile != null and upFile != ''">, #{upfile}, #{realFile}</if>)
    </insert>
    
       <select id="noticeDetail" parameterType="Integer" resultType="String">
      SELECT ncontent FROM notice WHERE nno=#{nno}
   </select>
   
   <update id="noticeHide" parameterType="Integer">
      UPDATE notice SET ndel = if(ndel = 1, 0, 1)
      WHERE nno=#{nno}
   </update>
    
    <select id="setupBoardList" resultType="Map">
    select *
    from setupboard
    order by b_no ASC
    </select>
    <insert id="multiBoardInsert" parameterType="Map">
    INSERT INTO setupboard (b_catename, b_url, b_comment, mb_cate)
    values(#{catename}, CONCAT('./multiboard?board=',#{mb_cate}), #{comment}, #{mb_cate})
    </insert>
    
    <select id="memberList" resultType="Map">
    SELECT m_no, m_id, m_name, m_joindate, m_addr, m_grade, m_birth, m_mbti, m_gender
    FROM members
    </select>
    
    <update id="gradeChange" parameterType="Map">
    Update members
    SET m_grade =#{grade}
    WHERE m_no = #{mno}
    </update>
</mapper>